In [ ]:
# CRIAR BANCO DE DADOS EMPRESA_DB

CREATE TABLE IF NOT EXISTS DEPARTAMENTO (
    numdepto INT AUTO_INCREMENT PRIMARY KEY,
    nome VARCHAR(50) NOT NULL
);

CREATE TABLE IF NOT EXISTS EMPREGADO (
    matricula INT AUTO_INCREMENT PRIMARY KEY,
    nome VARCHAR(70) NOT NULL,
    salario DECIMAL(10,2),
    numdepto INT,
    CONSTRAINT EMPREGADO_FK FOREIGN KEY (numdepto) REFERENCES DEPARTAMENTO(numdepto)
);

CREATE TABLE IF NOT EXISTS PROJETO (
    codprojeto INT AUTO_INCREMENT PRIMARY KEY,
    nome VARCHAR(100) NOT NULL,
    data_inicio DATE,
    data_fim DATE
);

CREATE TABLE IF NOT EXISTS TRABALHA_EM (
    matricula INT,
    codprojeto INT,
    data_inicio DATE,
    data_fim DATE,
    PRIMARY KEY (matricula, codprojeto),
    CONSTRAINT TRABALHA_FK FOREIGN KEY (matricula) REFERENCES EMPREGADO(matricula),
    CONSTRAINT TRABALHA_FK1 FOREIGN KEY (codprojeto) REFERENCES PROJETO(codprojeto)
);

CREATE TABLE IF NOT EXISTS HABILIDADE (
    codhabilidade INT AUTO_INCREMENT PRIMARY KEY,
    descricao VARCHAR(100) NOT NULL
);

CREATE TABLE IF NOT EXISTS EMPREGADO_HABILIDADE (
    matricula INT,
    codhabilidade INT,
    PRIMARY KEY (matricula, codhabilidade),
    CONSTRAINT EMPREGADO_HAB_FK FOREIGN KEY (matricula) REFERENCES EMPREGADO(matricula),
    CONSTRAINT EMPREGADO_HAB_FK1 FOREIGN KEY (codhabilidade) REFERENCES HABILIDADE(codhabilidade)
);

INSERT INTO DEPARTAMENTO (nome) VALUES ('Recursos Humanos');
INSERT INTO DEPARTAMENTO (nome) VALUES ('Desenvolvimento');
INSERT INTO DEPARTAMENTO (nome) VALUES ('Marketing');
INSERT INTO DEPARTAMENTO (nome) VALUES ('Financeiro');
INSERT INTO DEPARTAMENTO (nome) VALUES ('Suporte Técnico');

INSERT INTO EMPREGADO (nome, salario, numdepto) VALUES ('Ana Silva', 4500.00, 1);
INSERT INTO EMPREGADO (nome, salario, numdepto) VALUES ('João Santos', 5500.00, 2);
INSERT INTO EMPREGADO (nome, salario, numdepto) VALUES ('Maria Oliveira', 6000.00, 2);
INSERT INTO EMPREGADO (nome, salario, numdepto) VALUES ('Carlos Souza', 4000.00, 3);
INSERT INTO EMPREGADO (nome, salario, numdepto) VALUES ('Fernanda Lima', 4700.00, 4);

INSERT INTO PROJETO (nome, data_inicio, data_fim) VALUES ('Projeto A', '2024-01-15', '2024-06-30');
INSERT INTO PROJETO (nome, data_inicio, data_fim) VALUES ('Projeto B', '2024-03-01', '2024-09-15');
INSERT INTO PROJETO (nome, data_inicio, data_fim) VALUES ('Projeto C', '2024-02-20', '2024-07-15');
INSERT INTO PROJETO (nome, data_inicio, data_fim) VALUES ('Projeto D', '2024-05-10', '2024-11-30');
INSERT INTO PROJETO (nome, data_inicio, data_fim) VALUES ('Projeto E', '2024-04-05', '2024-12-20');

INSERT INTO TRABALHA_EM (matricula, codprojeto, data_inicio, data_fim) VALUES (1, 1, '2024-01-15', '2024-06-30');
INSERT INTO TRABALHA_EM (matricula, codprojeto, data_inicio, data_fim) VALUES (2, 1, '2024-01-15', '2024-06-30');
INSERT INTO TRABALHA_EM (matricula, codprojeto, data_inicio, data_fim) VALUES (3, 2, '2024-03-01', '2024-09-15');
INSERT INTO TRABALHA_EM (matricula, codprojeto, data_inicio, data_fim) VALUES (4, 3, '2024-02-20', '2024-07-15');
INSERT INTO TRABALHA_EM (matricula, codprojeto, data_inicio, data_fim) VALUES (5, 4, '2024-05-10', '2024-11-30');

INSERT INTO HABILIDADE (descricao) VALUES ('Java Programming');
INSERT INTO HABILIDADE (descricao) VALUES ('SQL Database Management');
INSERT INTO HABILIDADE (descricao) VALUES ('Project Management');
INSERT INTO HABILIDADE (descricao) VALUES ('Data Analysis');
INSERT INTO HABILIDADE (descricao) VALUES ('Network Security');

INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (1, 2);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (2, 1);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (3, 3);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (4, 4);
INSERT INTO EMPREGADO_HABILIDADE (matricula, codhabilidade) VALUES (5, 5);

**1. Empregados e seus Departamentos (INNER JOIN)**
- Liste todos os empregados juntamente com o nome de seus departamentos.

In [ ]:
SELECT e.NOME AS nome_empregado, d.NOME AS nome_departamento
FROM EMPREGADO e
INNER JOIN DEPARTAMENTO d
ON e.numdepto = d.numdepto
ORDER BY e.nome;

**2. Empregados sem Departamento (LEFT JOIN + IS NULL)**
- Liste todos os empregados que não estão associados a nenhum departamento.

In [ ]:
SELECT e.NOME AS nome_empregado
FROM EMPREGADO e
LEFT JOIN DEPARTAMENTO d
ON e.numdepto = d.numdepto
WHERE d.numdepto IS NULL
ORDER BY e.nome;

**3. Projetos sem Empregados (LEFT JOIN + IS NULL)**
- Liste todos os projetos que não têm empregados associados.

In [ ]:
SELECT p.nome AS nome_projeto
FROM PROJETO p
LEFT JOIN TRABALHA_EM t
ON p.codprojeto = t.codprojeto
WHERE t.codprojeto IS NULL;

**4. Empregados e suas Habilidades (INNER JOIN)**
- Liste todos os empregados juntamente com suas habilidades.

In [ ]:
SELECT e.nome AS nome_empregado, h.descricao AS habilidade_empregado
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
ORDER BY e.nome;

**5. Empregados sem Habilidades (LEFT JOIN + IS NULL)**
- Liste todos os empregados que não têm habilidades associadas.

In [ ]:
SELECT e.nome AS nome_empregado
FROM EMPREGADO e
LEFT JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
WHERE eh.codhabilidade IS NULL
ORDER BY e.nome;

**6. Departamentos e Número de Empregados (LEFT JOIN + COUNT)**
- Liste todos os departamentos e o número de empregados em cada um.

In [ ]:
SELECT d.nome AS nome_departamento, COUNT(e.matricula) AS numero_empregado
FROM DEPARTAMENTO d
LEFT JOIN EMPREGADO e
ON d.numdepto = e.numdepto
GROUP BY d.nome
ORDER BY d.nome ASC;

**7. Empregados e seus Projetos (INNER JOIN)**
- Liste todos os empregados juntamente com os projetos em que estão trabalhando.

In [ ]:
SELECT e.nome AS empregado, p.nome AS nome_projeto
FROM EMPREGADO e
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
ORDER BY e.nome;

**8. Empregados em Projetos Atuais (INNER JOIN + WHERE)**
- Liste todos os empregados que estão trabalhando em projetos que ainda não
terminaram.

In [ ]:
SELECT e.nome AS empregado, p.data_fim AS prazo_final
FROM EMPREGADO e
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
WHERE p.data_fim > CURDATE()
ORDER BY e.nome;

**9. Projetos e Duração (DATEDIFF)**
- Liste todos os projetos juntamente com a duração em dias (diferente entre data_fim
e data_inicio).

In [ ]:
SELECT nome AS nome_projeto, TIMESTAMPDIFF(DAY, data_inicio, data_fim) AS duracao_dias
FROM PROJETO
ORDER BY nome;

**10. Empregados com Mais de uma Habilidade (INNER JOIN + HAVING COUNT)**
- Liste todos os empregados que têm mais de uma habilidade.

In [ ]:
SELECT e.nome AS nome_empregado, COUNT(eh.codhabilidade) AS numero_habilidades
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
GROUP BY e.matricula
HAVING COUNT(eh.codhabilidade) > 1;

**11.Departamentos e Salário Médio (LEFT JOIN + AVG)**
- Liste todos os departamentos juntamente com o salário médio dos empregados
em cada departamento.

In [ ]:
SELECT d.nome AS nome_departamento, AVG(e.salario) AS media_salarial
FROM DEPARTAMENTO d
LEFT JOIN EMPREGADO e
ON d.numdepto = e.numdepto
GROUP BY d.nome
ORDER BY d.nome;

**12. Empregados e suas Habilidades Ordenadas (INNER JOIN + ORDER BY)**
- Liste todos os empregados juntamente com suas habilidades, ordenando os
resultados pelo nome do empregado e pela descrição da habilidade.

In [ ]:
SELECT e.nome AS nome_empregado, h.descricao AS nome_habilidade
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
ORDER BY e.nome, h.descricao;

**13. Projetos e Número de Empregados (INNER JOIN + COUNT)**

- Liste todos os projetos juntamente com o número de empregados que estão
trabalhando em cada projeto.

In [ ]:
SELECT p.nome AS nome_projeto, COUNT(e.matricula) AS numero_empregados
FROM PROJETO p
INNER JOIN TRABALHA_EM t
ON p.codprojeto = t.codprojeto
INNER JOIN EMPREGADO e
ON t.matricula = e.matricula
GROUP BY p.nome;

**14. Empregados com Habilidades Específicas (INNER JOIN + WHERE)**
- Liste todos os empregados que possuem uma habilidade específica (por exemplo,
"SQL").

In [ ]:
-- Para habilidades que contenham SQL na descrição

SELECT e.nome AS nome_empregado
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
WHERE h.descricao LIKE 'SQL%'
ORDER BY e.nome;

-- Para habilidades que sejam apenas SQL
SELECT e.nome AS nome_empregado
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
WHERE h.descricao = 'SQL'
ORDER BY e.nome;

**15. Departamentos sem Empregados (LEFT JOIN + IS NULL)**
- Liste todos os departamentos que não têm empregados associados.

In [ ]:
SELECT d.nome AS nome_departamento
FROM DEPARTAMENTO d
LEFT JOIN EMPREGADO e
ON d.numdepto = e.numdepto
WHERE e.numdepto IS NULL
ORDER BY d.nome;

**16. Projetos Ativos e seus Empregados (INNER JOIN + WHERE)**
- Liste todos os projetos que ainda estão em andamento e os empregados que
estão trabalhando neles.

In [ ]:
SELECT e.nome AS nome_empregado, p.nome AS projeto_em_andamento, p.data_fim AS data_final_projeto
FROM EMPREGADO e
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
WHERE p.data_fim > CURDATE()
ORDER BY e.nome;

**17. Empregados e suas Habilidades e Projetos (INNER JOIN + Multiple Tables)**
- Liste todos os empregados juntamente com suas habilidades e os projetos em que
estão trabalhando.

In [ ]:
SELECT e.nome AS nome_empregado, h.descricao AS empregado_habilidades, p.nome AS nome_projeto
FROM EMPREGADO e
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
ORDER BY e.nome, p.nome;

**18. Projetos e Data de Início mais Recente (INNER JOIN + MAX)**
- Liste todos os projetos juntamente com a data de início mais recente de um
empregado que começou a trabalhar nesse projeto.

In [ ]:
SELECT p.nome AS nome_projeto, MAX(p.data_inicio) AS inicio_empregado
FROM PROJETO p
INNER JOIN TRABALHA_EM t
ON p.codprojeto = t.codprojeto
INNER JOIN EMPREGADO e
ON t.matricula = e.matricula
GROUP BY p.nome;

**19. Empregados que Trabalham em Mais de um Projeto (INNER JOIN + HAVING
COUNT)**
- Liste todos os empregados que estão trabalhando em mais de um projeto.

In [ ]:
SELECT e.nome AS nome_empregado, COUNT(p.codprojeto) AS numero_projetos
FROM EMPREGADO e
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
GROUP BY e.matricula, e.nome
HAVING COUNT(p.codprojeto) > 1
ORDER BY e.nome;

**20. Empregados e Departamento, Habilidade e Projeto (Multiple INNER JOINs)**
- Liste todos os empregados juntamente com o nome do departamento, a descrição
da habilidade e o nome do projeto em que estão trabalhando.

In [ ]:
SELECT e.nome AS nome_empregado, d.nome AS nome_departamento, h.descricao AS nome_habilidades, p.nome AS nome_projeto
FROM EMPREGADO e
INNER JOIN DEPARTAMENTO d
ON e.numdepto = d.numdepto
INNER JOIN EMPREGADO_HABILIDADE eh
ON e.matricula = eh.matricula
INNER JOIN HABILIDADE h
ON eh.codhabilidade = h.codhabilidade
INNER JOIN TRABALHA_EM t
ON e.matricula = t.matricula
INNER JOIN PROJETO p
ON t.codprojeto = p.codprojeto
ORDER BY e.nome;