No colab faça a leitura desse arquivo em anexo e a partir dele crie 20 arquivos diferentes com os resultados de agrupamentos e salve esses arquivos como csv.

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

arquivo = '/content/drive/MyDrive/Colab Notebooks/Base de dados - Dados sobre desgaste de funcionarios.csv'
df = pd.read_csv(arquivo)

df = df.drop_duplicates()
df.isnull().sum() #Não falta nenhum dado em nenhuma coluna
df.columns = df.columns.str.title()
df = df.dropna()
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Idade,Demissão,Viagem De Negócios,Diárias Recebidas,Departamento,Distância De Casa,Escolaridade,Área De Formação,Número De Contratos De Trabalho Na Empresa,Id Funcionário,...,Satisfação Nas Relações Não Trabalho,Jornada Padrão De Trabalho,Opção De Remaunração Variável Em Ações,Total De Anos Trabalhados,Qtde De Treinamentos Realizados No Último Ano,Equilíbrio Vida Trabalho,Total De Anos Trabalhados Na Empresa,Anos Trabalhados Na Função Atual,Anos Desde A Última Promoção,Anos Trabalhando Com O Atual Gestor
0,41,Sim,Viaja raramente,1102,Vendas,1,2,Ciências Humanas,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Não,Viaja frequentemente,279,Pesquisa e Desenvolvimento,8,1,Ciências Humanas,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Sim,Viaja raramente,1373,Pesquisa e Desenvolvimento,2,2,Outras,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Não,Viaja frequentemente,1392,Pesquisa e Desenvolvimento,3,4,Ciências Humanas,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Não,Viaja raramente,591,Pesquisa e Desenvolvimento,2,1,Ciências Médicas,1,7,...,4,80,1,6,3,3,2,2,2,2

**1** - Média de idade dos funcionários por departamento

In [ ]:
media_idade_departamento = df.groupby('Departamento')['Idade'].mean().reset_index(name = "Média idade")
resultado = round(media_idade_departamento, 0)
print(resultado)
media_idade_departamento.to_csv('media_idade_departamento.csv', index=False)

                 Departamento  Média idade
0  Pesquisa e Desenvolvimento         37.0
1           Recursos HumaNãos         38.0
2                      Vendas         37.0

**2** - Quantidade de funcionários por departamento (com exceção dos demitidos)

In [ ]:
funcionarios_ativos = df[df['Demissão'] == 'Não']
quantidade_funcionarios = funcionarios_ativos.groupby('Departamento')['Departamento'].count().reset_index(name = "Quantidade de funcionários ativos")
print(quantidade_funcionarios)
quantidade_funcionarios.to_csv('quantidade_funcionario.csv', index=False)

                 Departamento  Quantidade de funcionários ativos
0  Pesquisa e Desenvolvimento                                828
1           Recursos HumaNãos                                 51
2                      Vendas                                354

**3** - Média de salário por faixa de idade

In [ ]:
cortes = [20, 30, 40, 50, 60]
rotulos = ['20-29', '30-39', '40-49', '50-59']
df['faixa_etaria'] = pd.cut(df['Idade'], bins=cortes, labels=rotulos, right=False)
faixa_etaria_salario = round(df.groupby('faixa_etaria')['Salário Mensal'].mean(),2).reset_index(name = "Média salarial")
print(faixa_etaria_salario)
faixa_etaria_salario.to_csv('faixa_etaria_salario.csv', index=False)

  faixa_etaria  Média salarial
0        20-29        14252.52
1        30-39        14100.12
2        40-49        14066.25
3        50-59        15803.38

<ipython-input-4-56bbd2832448>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  faixa_etaria_salario = round(df.groupby('faixa_etaria')['Salário Mensal'].mean(),2).reset_index(name = "Média salarial")

**4** - Média de anos trabalhados por departamento

In [ ]:
media_anostrabalhados = round(df.groupby('Departamento')['Total De Anos Trabalhados'].mean(),0).reset_index(name = "Média de anos de trabalho")
print(media_anostrabalhados)
media_anostrabalhados.to_csv('media_anostrabalhados.csv', index=False)

                 Departamento  Média de anos de trabalho
0  Pesquisa e Desenvolvimento                       11.0
1           Recursos HumaNãos                       12.0
2                      Vendas                       11.0

**5** - Média de satisfação no ambiente de trabalho por departament

In [ ]:
media_satisfacao = round(df.groupby('Departamento')['Nível De Satisfação Com O Ambiente De Trabalho'].mean(),2).reset_index(name = "Média de satisfação no trabalho")
print(media_satisfacao)
media_satisfacao.to_csv('media_satisfacao.csv', index=False)

                 Departamento  Média de satisfação no trabalho
0  Pesquisa e Desenvolvimento                             2.74
1           Recursos HumaNãos                             2.68
2                      Vendas                             2.68

**6** - Média de satisfação no ambiente de trabalho por faixa etária

In [ ]:
media_satisfacao_idade = round(df.groupby('faixa_etaria')['Nível De Satisfação Com O Ambiente De Trabalho'].mean(),2).reset_index(name = "Média de satisfação no trabalho")
print(media_satisfacao_idade)
media_satisfacao_idade.to_csv('media_satisfacao_idade.csv', index=False)

  faixa_etaria  Média de satisfação no trabalho
0        20-29                             2.70
1        30-39                             2.74
2        40-49                             2.68
3        50-59                             2.80

<ipython-input-7-e68f3efc477c>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  media_satisfacao_idade = round(df.groupby('faixa_etaria')['Nível De Satisfação Com O Ambiente De Trabalho'].mean(),2).reset_index(name = "Média de satisfação no trabalho")

**7** - Total de demissões em cada departamento

In [ ]:
demitidos = df[df['Demissão'] == 'Sim']
demissoes_departamento = demitidos.groupby('Departamento')['Departamento'].count().reset_index(name = "Total de demissões")
print(demissoes_departamento)
demissoes_departamento.to_csv('demissoes_departamento.csv', index=False)

                 Departamento  Total de demissões
0  Pesquisa e Desenvolvimento                 133
1           Recursos HumaNãos                  12
2                      Vendas                  92

**8** - Média de anos trabalhados antes da demissão por departamento

In [ ]:
anos_trabalhados_demissoes = round(demitidos.groupby('Departamento')['Total De Anos Trabalhados'].mean(), 0).reset_index(name = "Média de anos trabalhados")
print(anos_trabalhados_demissoes)
anos_trabalhados_demissoes.to_csv('anos_trabalhados_demissoes.csv', index=False)

                 Departamento  Média de anos trabalhados
0  Pesquisa e Desenvolvimento                        8.0
1           Recursos HumaNãos                        6.0
2                      Vendas                        9.0

**9** - Total de demissões por faixa etária

In [ ]:
demissoes_faixa_etaria = demitidos.groupby('faixa_etaria')['faixa_etaria'].count().reset_index(name = "Total de demissões")
print(demissoes_faixa_etaria)
demissoes_faixa_etaria.to_csv('demissoes_faixa_etaria.csv', index=False)

  faixa_etaria  Total de demissões
0        20-29                  81
1        30-39                  89
2        40-49                  34
3        50-59                  23

<ipython-input-10-c94c26bd9d4a>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  demissoes_faixa_etaria = demitidos.groupby('faixa_etaria')['faixa_etaria'].count().reset_index(name = "Total de demissões")

**10** - Total de funcionários por escolaridade

In [ ]:
escolaridade_funcionario = df['Escolaridade'].value_counts().reset_index(name = "Total de funcionários")
print(escolaridade_funcionario)
escolaridade_funcionario.to_csv('escolaridade_funcionario.csv', index=False)

**11** - Média salarial por departamento

In [ ]:
media_salarial_departamento = round(df.groupby('Departamento')['Salário Mensal'].mean(), 2).reset_index(name = "Média salarial")
print(media_salarial_departamento)
media_salarial_departamento.to_csv('media_salarial_departamento.csv', index=False)

                 Departamento  Média salarial
0  Pesquisa e Desenvolvimento        14284.87
1           Recursos HumaNãos        13492.98
2                      Vendas        14489.79

**12** - Total de funcionários de cada gênero por departamento

In [ ]:
quantidade_genero = df.groupby(['Departamento', 'Gênero'])['Gênero'].count().reset_index(name = "Total de funcionários")
print(quantidade_genero)
quantidade_genero.to_csv('quantidade_genero.csv', index=False)

                 Departamento     Gênero  Total de funcionários
0  Pesquisa e Desenvolvimento   Feminino                    379
1  Pesquisa e Desenvolvimento  Masculino                    582
2           Recursos HumaNãos   Feminino                     20
3           Recursos HumaNãos  Masculino                     43
4                      Vendas   Feminino                    189
5                      Vendas  Masculino                    257

**13** - Total de diárias recebidas por faixa etária

In [ ]:
diarias_faixaetaria = df.groupby('faixa_etaria')['Diárias Recebidas'].count().reset_index(name = "Total de diárias")
print(diarias_faixaetaria)
diarias_faixaetaria.to_csv('diarias_faixaetaria.csv', index=False)

  faixa_etaria  Total de diárias
0        20-29               309
1        30-39               622
2        40-49               349
3        50-59               168

<ipython-input-13-cfdbd03e3653>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  diarias_faixaetaria = df.groupby('faixa_etaria')['Diárias Recebidas'].count().reset_index(name = "Total de diárias")

**14** - Total de funcionários por área de formação

In [ ]:
funcionarios_areaformacao = df.groupby(['Departamento', 'Área De Formação'])['Área De Formação'].count().reset_index(name = "Total de funcionários")
print(funcionarios_areaformacao)
funcionarios_areaformacao.to_csv('funcionarios_areaformacao.csv', index=False)

                  Departamento   Área De Formação  Total de funcionários
0   Pesquisa e Desenvolvimento   Ciências Humanas                    440
1   Pesquisa e Desenvolvimento   Ciências Médicas                    363
2   Pesquisa e Desenvolvimento    EnsiNão técnico                     94
3   Pesquisa e Desenvolvimento             Outras                     64
4            Recursos HumaNãos   Ciências Humanas                     16
5            Recursos HumaNãos   Ciências Médicas                     13
6            Recursos HumaNãos    EnsiNão técnico                      4
7            Recursos HumaNãos             Outras                      3
8            Recursos HumaNãos  Recursos HumaNãos                     27
9                       Vendas   Ciências Humanas                    150
10                      Vendas   Ciências Médicas                     88
11                      Vendas    EnsiNão técnico                     34
12                      Vendas          Marketing                    159
13                      Vendas             Outras                     15

**15** - Média salarial por área de formação

In [ ]:
media_salarial_areaformacao = round(df.groupby('Área De Formação')['Salário Mensal'].mean(),2).reset_index(name = "Média salarial")
print(media_salarial_areaformacao)
media_salarial_areaformacao.to_csv('media_salarialareadeformacao.csv', index=False)

    Área De Formação  Média salarial
0   Ciências Humanas        14530.13
1   Ciências Médicas        14295.06
2    EnsiNão técnico        14210.36
3          Marketing        14076.94
4             Outras        13270.78
5  Recursos HumaNãos        14810.74

**16** -Média de anos trabalhados com o gestor por faixa etária

In [ ]:
anos_trabalhados_gestor = round(df.groupby('faixa_etaria')['Anos Trabalhando Com O Atual Gestor'].mean(),0).reset_index(name = "Média de anos de trabalho")
print(anos_trabalhados_gestor)
media_salarial_areaformacao.to_csv('media_salarialareadeformacao.csv', index=False)

  faixa_etaria  Média de anos de trabalho
0        20-29                        3.0
1        30-39                        4.0
2        40-49                        5.0
3        50-59                        5.0

<ipython-input-16-f3f418ec49a2>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  anos_trabalhados_gestor = round(df.groupby('faixa_etaria')['Anos Trabalhando Com O Atual Gestor'].mean(),0).reset_index(name = "Média de anos de trabalho")

**17** - Média do nível de performance por departamento e faixa etária

In [ ]:
perfomance_departamento_idade = round(df.groupby(['Departamento', 'faixa_etaria'])['Score De Performance'].mean(),2).reset_index(name = "Média do nível de perfomance")
print(perfomance_departamento_idade)
perfomance_departamento_idade.to_csv('performance_departamento_idade.csv', index=False)

                  Departamento faixa_etaria  Média do nível de perfomance
0   Pesquisa e Desenvolvimento        20-29                          3.14
1   Pesquisa e Desenvolvimento        30-39                          3.17
2   Pesquisa e Desenvolvimento        40-49                          3.17
3   Pesquisa e Desenvolvimento        50-59                          3.15
4            Recursos HumaNãos        20-29                          3.08
5            Recursos HumaNãos        30-39                          3.16
6            Recursos HumaNãos        40-49                          3.18
7            Recursos HumaNãos        50-59                          3.12
8                       Vendas        20-29                          3.14
9                       Vendas        30-39                          3.12
10                      Vendas        40-49                          3.15
11                      Vendas        50-59                          3.16

<ipython-input-17-7781705f1956>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  perfomance_departamento_idade = round(df.groupby(['Departamento', 'faixa_etaria'])['Score De Performance'].mean(),2).reset_index(name = "Média do nível de perfomance")

**18** - Média de percentual de aumento salarial por área de formação

In [ ]:
aumento_salario_area = round(df.groupby('Área De Formação')['Percentual De Aumento De Salário'].mean(),2).reset_index(name = "Média de percentual de aumento")
print(aumento_salario_area)
aumento_salario_area.to_csv('aumento_salario_area.csv', index=False)

    Área De Formação  Média de percentual de aumento
0   Ciências Humanas                           15.25
1   Ciências Médicas                           15.37
2    EnsiNão técnico                           14.71
3          Marketing                           14.92
4             Outras                           15.50
5  Recursos HumaNãos                           14.78

**19** - Média da distância de casa ao trabalho por nível de escolaridade

In [ ]:
distancia_casa = round(df.groupby('Escolaridade')['Distância De Casa'].mean(),2).reset_index(name = "Média de distância de casa - trabalho")
print(distancia_casa)
distancia_casa.to_csv('distancia_casa.csv', index=False)

   Escolaridade  Média de distância de casa - trabalho
0             1                                   8.74
1             2                                   9.21
2             3                                   9.24
3             4                                   9.15
4             5                                  10.50

**20** - Média salarial por gênero e escolaridade

In [ ]:
salario_genero_escolaridade = round(df.groupby(['Escolaridade', 'Gênero'])['Salário Mensal'].mean(), 2).reset_index(name = "Média salarial")
print(salario_genero_escolaridade)
salario_genero_escolaridade.to_csv('salario_genero_escolaridade.csv', index=False)

   Escolaridade     Gênero  Média salarial
0             1   Feminino        15529.42
1             1  Masculino        15032.84
2             2   Feminino        14960.87
3             2  Masculino        13745.84
4             3   Feminino        14527.99
5             3  Masculino        13772.37
6             4   Feminino        14417.53
7             4  Masculino        14196.45
8             5   Feminino        14186.41
9             5  Masculino        14796.15

**21** - Quantidade de funcionários que fazem hora extras por cargo

In [ ]:
funcionarios_hora_extra = df[df['Faz Hora Extra'] == 'Sim']
cargo_horas_extras = funcionarios_hora_extra.groupby('Cargo')['Faz Hora Extra'].count()
cargo_horas_extras_ordenado = cargo_horas_extras.sort_values(ascending = False)
print(cargo_horas_extras_ordenado)
cargo_horas_extras_ordenado.to_csv('cargo_horas_extras_ordenado.csv', index=False)

Cargo
Pesquisador cientista      97
Executivo de vendas        94
Técnico de Laboratório     62
Diretor de manufatura      39
Reprentante de saúde       37
Gerente                    27
Representante de vendas    24
Diretor de pesquisa        23
Recursos HumaNãos          13
Name: Faz Hora Extra, dtype: int64

**22** - Número de demissões por gênero e cargo

In [ ]:
demissoes_genero_cargo = demitidos.groupby(['Gênero', 'Cargo'])['Cargo'].count()
demissoes_genero_cargo_ordenado = demissoes_genero_cargo.sort_values(ascending = True).unstack()
print(demissoes_genero_cargo_ordenado)
demissoes_genero_cargo_ordenado.to_csv('demissoes_genero_cargo_ordenado.csv', index=False)

Cargo      Diretor de manufatura  Diretor de pesquisa  Executivo de vendas  \
Gênero
Feminino                       4                    1                   20
Masculino                      6                    1                   37

Cargo      Gerente  Pesquisador cientista  Recursos HumaNãos  \
Gênero
Feminino         2                     17                  6
Masculino        3                     30                  6

Cargo      Reprentante de saúde  Representante de vendas  \
Gênero
Feminino                      5                       16
Masculino                     4                       17

Cargo      Técnico de Laboratório
Gênero
Feminino                       16
Masculino                      46

**23** - Número de funcionários de acordo com o total de anos trabalhados

In [ ]:
funcionarios_anos_trabalhados = df.groupby('Total De Anos Trabalhados')['Total De Anos Trabalhados'].count().reset_index(name = "Número de funcionários")
print(funcionarios_anos_trabalhados)
funcionarios_anos_trabalhados.to_csv('funcionarios_anos_trabalhados.csv', index=False)

    Total De Anos Trabalhados  Número de funcionários
0                           0                      11
1                           1                      81
2                           2                      31
3                           3                      42
4                           4                      63
5                           5                      88
6                           6                     125
7                           7                      81
8                           8                     103
9                           9                      96
10                         10                     202
11                         11                      36
12                         12                      48
13                         13                      36
14                         14                      31
15                         15                      40
16                         16                      37
17                         17                      33
18                         18                      27
19                         19                      22
20                         20                      30
21                         21                      34
22                         22                      21
23                         23                      22
24                         24                      18
25                         25                      14
26                         26                      14
27                         27                       7
28                         28                      14
29                         29                      10
30                         30                       7
31                         31                       9
32                         32                       9
33                         33                       7
34                         34                       5
35                         35                       3
36                         36                       6
37                         37                       4
38                         38                       1
39                         40                       2